<nav>
  <button><a href="/">Movie Reviewer</a></button>
  <button><a href="/search/">Search for a Movie</a></button>
  <button><a href="/register/">Create User</a></button>
  {% if request.user.is_authenticated %}
  <button><a href="/log_out">Logout</a></button>
  {% else %}
  <button><a href="/login">Login</a></button>
  {% endif %}
</nav>

<h1>{{ object.displayname }}</h1>
{% if object.professional %}
<p>I am a professional critic so my opinions matter more than yours do.  Unless of course you are also a professional critc.</p>
{% endif %}
{% if reviews %} 
    {% for review in reviews %} 
        <ul>
            <li>
            <h4>
                <a href="/movie/{{review.movie.tmdb_id}}">
                    {{review.movie.title}}
                </a>
            </h4>
            <p>{{review.headline}}</p>
            <p>{{review.post_date}} - {{review.text}}</p>
            {% if review.recommend %}
            <p>I recommend it</p>
            {% else %}
            <p> I do not recommend it</p>
            {% endif %}
            </li>
        </ul>
    {% endfor %}
{% else %}
    <p>No reviews</p>
{% endif %}
