{% extends 'site.html' %}
{% block title %}Critic List{% endblock %}

{% block body %}
<h1>Critics</h1>
<div class="container">
  <div class="row">
    <div class="col">
    <h3>Professional Critics</h3>
<ul class="">
  {% for critic in object_list %}
  {% if critic.professional %}
  <li class="d-block">{{ critic.displayname }}</li>
  {% endif %}
  {% empty %}
  <li>No critics yet.</li>
  {% endfor %}
</ul>
</div>

<div class="col">
  <h3>User Critics</h3>
<ul>
    {% for critic in object_list %}
    {% if not critic.professional %}
    <li class='d-block'>{{ critic.displayname }}</li>
    {% endif %}
    {% empty %}
    <li>No critics yet.</li>
    {% endfor %}
  </ul>
</div>
</div>
</div>
{% endblock %}
