<nav>
  <button><a href="/">Movie Reviewer</a></button>
  <button><a href="/search/">Search for a Movie</a></button>
  <button><a href="/register/">Create User</a></button>
  {% if request.user.is_authenticated %}
  <button><a href="/log_out">Logout</a></button>
  {% else %}
  <button><a href="/login">Login</a></button>
  {% endif %}
</nav>

{% if critic %}
<h2>Hello, {{critic.displayname}}</h2>
{% endif %}

<h2>
  {% for movie in data %}

  <h1><a href="/movie/{{movie.id}}">{{movie.title}}</a></h1>
  <img
    src="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}"
    alt=""
    srcset=""
  />

  {% endfor %}
</h2>
