{% extends 'site.html' %}
{% block title %}Movie Homepage{% endblock %}
{% block body%}
{% if critic %}
<h2>Hello, {{critic.displayname}}</h2>
{% endif %}
<div class="d-flex justify-content-start">
  <ul class="d-flex">
    {% for movie in data %}
      <li class='d-block float-left flex-wrap m-2'>
        <img src="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="" srcset=""/>
        <h4><a class="text-dark" href="/movie/{{movie.id}}">{{movie.title}}</a></h4>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
