{% extends 'site.html' %}
{% block title %}{{review.critic}} review of {{review.movie.title}}{% endblock %}

{% block body %}
<h1>
  <a class="text-warning" href="/movie/{{review.movie.tmdb_id}}">
    {{review.movie.title}}
  </a>
</h1>
<h2>
  Review by
  <a class="text-warning" href="/critics/{{review.critic.id}}">
    {{review.critic}}
  </a>
</h2>
<h3>{{review.headline}}</h3>
<p>{{review.text}}</p>
{% if review.critic.id == user_id %}
<a href="/reviewedit/{{review.id}}">EDIT REVIEW</a>
<a href="/deletereview/{{review.id}}">DELETE REVIEW</a>
{% endif %}
{% endblock %}
